body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
/*     padding: 20px; */
}


section{
/* 	border: 1px solid red; */
	padding: 0px 16% 0 16%;
	background-color : var(--bs-gray-100);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

h3 {
/* 	font-style:italic;  */
	padding:20px 0px 0px 7px;
	text-align: left;
}

span{
	font-weight: bold;
}

.bl{
	margin-top: 210px;
	border-top: 4px solid black;
}

.sectionIn{
	width: 100%;
	height: 100%;
	text-align: left;
	background-color: white;
/* 	border: 1px solid blue; */
}

.bl2{
	border-top: 2px solid black;
}

#withdrawalForm {
    max-width: 400px;
    margin-left: 10px, 0,  ;
    background-color: #fff;
    padding: 20px;
/*     border-radius: 8px; */
/*     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}


